#add-button {
    max-width: 460px;
    margin: 0 auto;
    height: 50px;
}

.logo {
    max-width: 460px;
    margin: 10px auto;
}

a:hover div {
    text-decoration: none !important;
}

img.gravatar {
    float: left;
    margin-right: 20px;
}
